doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="format-detection", content="telephone=no")
  
  title ЗаборСтрой
  
  link(rel="stylesheet" href="./css/main.css")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")
  script(src="js/script.js")
  
body
  header
    .header-logo
      img(src="img/header/header-logo.png" alt="logo")
      p ЗаборСтрой
    .header-number
      img(src="img/header/header-number.png" alt="number")
      p +375 29 841 88 22
      p +375 29 888 27 71
    h1.header-name Строительство заборов “под ключ”
    p.header-title Наша компания работает в этой сфере уже более 7 лет. Мы выполним все работы под ключ самостоятельно, нашему клиенту нужно лишь выбрать понравившуюся модель забора. Специалисты проведут все необходимые замеры, подготовительные мероприятия, рассчитают необходимое количество материалов.
    .header-button
      p Оставить заявку на замер
  .typesfences
    img.typesfences-background.top(src="img/typesfences/fence.png" alt="fence")
    h1 Виды заборов
    - var types = ['Элитные','Стандратные']
    - var info = [{'pic':['img/typesfences/elit/1.png','img/typesfences/elit/2.png','img/typesfences/elit/3.png'],'text':['Еврозаборы (заборы без фундаментов)','Заборы из элементов (Brick)','Заборы из бессера']},{'pic':['img/typesfences/standart/1.png','img/typesfences/standart/2.png','img/typesfences/standart/3.png'],'text':['Заборы из профнастила','Заборы из метталлоштакетника','Заборы из 3D панелей']}]
      each type,i in types
        h2 #{type}
        .typesfences-fence
          each img,p in info[i]['pic']
            .block
              img(src="#{img}")
              p #{info[i]['text'][p]}
  .advistory
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Получить бесплатную консультацию
    form.contacts-form#advistory-form
      input(form="advistory-form" id="name" name="name" type="text" title="Имя" placeholder="Имя" required pattern="[a-zA-Zа-яА-Я ]+")
      input(form="advistory-form" id="number" name="number" type="text" title="Ваш телефон в формате +375 ** *** ** **" placeholder="Телефон" required pattern="(\\+375 (25|29|33|44)( [0-9]{3}( [0-9]{2}){2}))")
      button Отправить
  .whywe
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Почему мы?
    .block
      -var images = ['img/whywe/1.png','img/whywe/2.png','img/whywe/3.png','img/whywe/4.png','img/whywe/5.png','img/whywe/6.png']
      -var texts = ['Выбор любых конструктивных решений, форм, оттенков ограждения','Бесплатный размер на следующий день после оформления Вами заявки','Поставки материалов для заборов в короткие сроки','Монтаж в любое удобное клиенту время - без выходных','Осуществляем качественные работы на протяжении 7 лет','Огромный опыт у работников компании']
        each img,i in images
          .blocks
            img(src="#{img}")
            p #{texts[i]}
  .ourwork
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Наши работы
    .slider_wrap#slider
        img.active(src="img/ourwork/slide1.png" alt="slide")
        img(src="img/ourwork/slide2.jpg" alt="slide")
        img(src="img/ourwork/slide3.jpg" alt="slide")
  .feedback
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Отзывы наших клиентов
    .clients
      -var images = ['img/feedback/1.png','img/feedback/2.png','img/feedback/3.png','img/feedback/4.png']
      -var names = ['Ирина Легкая','Цукан Руслан','Ольга Притшина','Кузьменков Василий']
      -var texts = ['Примите, пожалуйста, огромную благодарность за ваше внимание, отзывчивость при выполнении заказа. Работу и человечность вашей компании оцениваем по наивысшему баллу.Спасибо вам, процветания и счастья. Будем рекомендовать вас своим знакомым.','Заказывали забор из профнастила. Огромное спасибо компании и всем ребятам этой бригады. Забор поставили быстро и качественно. Спасибо!','Хотим выразить огромную благодарность. Выполнили огромный объем работ. Участок идет под наклоном, они предлагали различные варианты решения этой проблемы. В итоге  забор получился очень красивый, все соседи ходят смотреть, как на экскурсию.','Ребята работали точно, слаженно, ответственно, прислушиваясь к мнению заказчика. Не было никаких проколов, опозданий, недоделок. Приятно видеть таких ответственных людей, таких профессионалов своего дела.']
        each img,i in images
          .hero
            img(src="#{img}")
            p.name #{names[i]}
            p.text #{texts[i]}
  .how-working
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Как мы работаем
    .steps
      -var images = ['img/working/1.png','img/working/2.png','img/working/3.png','img/working/4.png','img/working/5.png','img/working/6.png','img/working/7.png','img/working/8.png']
      -var text = ['1. Звоните по нашем номерам или оставляете заявку на нашем сайте','5. Доставка на Ваш объект','2. Получаете коммерческое предложение','6. Производим монтаж забора в любое время удобное для Вас','3. Заключение договора и внесение предоплаты','7. Оплачиваете оставшую сумму','4. Комплектуем и загружаем товар для доставки к Вам на объект','8. Гарантия на работы и материалы от 1 года.']
        each img,i in images
          .step
            img(src='#{img}')
            p #{text[i]}
  .installments
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Рассрочка
    img(src="img/installments/installments.png" alt="installments")
    p Любой товар в нашем магазине можно приобрести в рассрочку, не выходя из дома.
    p Для этого достаточно сообщить специалисту выбранный способ оплаты и Вас проконсультируют насчет наиболее удобного варианта платежей.
    p Предлагаем выгодную рассрочку сроком на 2, 3, 4 месяца. С предоплатой или без, на Ваш выбор.
    p Что для этого нужно?
    p Паспорт гражданина РБ
    p Заполнить анкету и подписать договор
    p Справка о доходах не нужна!
    p Более подробную информацию Вы можете уточнить у наших специалистов.
  .other
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Другие услуги
    -var images = ['img/other/1.png','img/other/2.png']
    -var texts = ['Монтаж наружного видеонаблюдения,видеодомофонов и электромеханических замков.','Изготовление и монтаж ворот откатных, распашных и калиток любых конфигураций.']
      each img,i in images
        .other-block
          img(src="#{img}")
          p #{texts[i]}
  .contacts
    img.typesfences-background(src="img/typesfences/fence.png" alt="fence")
    h1 Контакты
    p.application Оставить заявку на звонок
    form.contacts-form#contacts-form
      input(form="contacts-form" id="name" name="name" type="text" title="Имя" placeholder="Имя" required pattern="[a-zA-Zа-яА-Я ]+")
      input(form="contacts-form" id="number" name="number" type="text" title="Ваш телефон в формате +375 ** *** ** **" placeholder="Телефон" required pattern="(\\+375 (25|29|33|44)( [0-9]{3}( [0-9]{2}){2}))")
      button Отправить
  footer
    p.num 
      | +375 29 841 88 22<br/>
      | +375 29 888 27 71
    p.ip
      | ИП 309310932132109 <br/>
      | Вася Пупкин
